<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css"  th:href="@{/css/starter-template.css}" rel="stylesheet">
  </head>

  <body>

 

<div th:replace="~{block/header::headerA}"></div>
<div th:replace="~{block/side}"></div>

<main role="main" class="container">


      <div class="starter-template">
        <h1>Welcome</h1>
    
   </div>
   
   <body>
 <div>
	<input type="submit" value="新着商品">
	<form method="get" action="#" th:action="@{/commodity/commoditypage}" th:object="${commoditycontroller}">
	<input type ="image" src="/img/kids.jpg" width="200" height="200" /></form>
	
	</div>
	
	<div>
	<input type="submit" value="人気商品">
	<img src="/img/kids.jpg" width="200" height="200" />
	<img src="/img/women.jpg" width="200" height="200" />
	<img src="/img/men.jpg" width="200" height="200" />
	</div>
	
	<div>
	<input type="submit" value="SALE">
	<img src="/img/kids.jpg" width="200" height="200" />
	<img src="/img/women.jpg" width="200" height="200" />
	<img src="/img/men.jpg" width="200" height="200" />
	</div>
	
		<div>
	<input type="submit" value="おススメ">
	<img src="/img/kids.jpg" width="200" height="200" />
	<img src="/img/women.jpg" width="200" height="200" />
	<img src="/img/men.jpg" width="200" height="200" />
	</div>
	
	
	
	
	<form method="post" action="#" th:action="@{/sample/test}" th:object="${samplecontroller}">
	<input type="submit" value="test">
	</form>
	
    </body>
      </main>
      </body>


</html>

